{% extends "inventory/base.html" %} {% block title %}{{ producto.nombre }}{%
endblock %} {% block content %}
<h2>{{ producto.nombre }}</h2>

<ul>
  <li><strong>ID:</strong> {{ producto.product_id }}</li>
  <li><strong>Marca:</strong> {{ producto.marca }}</li>
  <li><strong>Tipo:</strong> {{ producto.tipo_producto }}</li>
  <li><strong>Material:</strong> {{ producto.material }}</li>
  <li><strong>Precio:</strong> {{ producto.precio }}</li>
</ul>

<p>
  <a href="{% url 'inventory:producto_update' producto.pk %}">Editar</a> |
  <a href="{% url 'inventory:producto_list' %}">Volver</a>
</p>
{% endblock %}
